@model IEnumerable<Phase4EndProject1.Models.Pizza>

@{
    ViewBag.Title = "ShowListOfpizzas";
}

<h2>ShowListOfpizzas</h2>

<p>
    @Html.ActionLink("Create New", "Insertpizza")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PizzaType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PizzaType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qty)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Order CheckOut", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
